.actions{
    margin-top: -445px;
    margin-left: 350px;
}

.col-4{
    margin-left: -10px;
}

.food13, .food14, .food15, .food16, .food17{
    border: 1px solid black;
}

.pages{
    margin-top: 20px;
    margin-left: 350px;
}



