.cart{
    margin-top: -450px;
    margin-left: 350px;
}

.cart-list{
    margin-left: -10px;
}

.cart-img{
    margin-left: -10px;
    width: 300px;
    height: 200px;
}

.text{
    margin-left: -200px;
}