.actions{
    margin-top: -445px;
    margin-left: 350px;
}

.col-4{
    margin-left: -10px;
}

.actions1, .actions2, .actions3, .actions4, .actions5, .actions6{
    border: 1px solid black;
}

.actions-list{
    margin-left: -10px;
}

.pages{
    margin-top: 20px;
    margin-left: 350px;
}

.banner{
    width: 760px;
}



